.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background: radial-gradient(circle at center, #50ccf5, #09548e);
}

.imageContainer {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  transition: bottom 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}
.card:hover .overlay {
  bottom: 0;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 1s;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}
.overlay h2 {
  margin-top: 0;
}

.overlay p {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(98, 95, 95, 0.73);
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 5px;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
}
.imageWrapper {
  position: relative;
}

.emptyText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-5%, 25%);
  transition: 1s ease;
}
.emptyText a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.emptyText svg {
  font-size: 40px;
  transition: 1s ease;
}
.emptyText:hover svg {
  transform: scale(2.5);
}
