.conteinerbackground{
    background: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
}
.conteiner {
    background: url("../../img/contenedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1442px;
    height: 1374px;
    margin: auto;
}