.messenger{
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu{
  flex: 3.5;
}

.chatMenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}

.chatMenuInput:focus, .chatMenuInput:hover{
  outline: none;
}

.chatBox{
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop{
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxTop::-webkit-scrollbar {
  display: none;
}

.chatBoxBottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chatMessageInput{
  width: 80%;
  height: 90px;
  padding: 10px;
  resize: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.chatMessageInput::-webkit-scrollbar {
  display: none;
}

.chatSubmitButton{
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #004258;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chatOnline{
  flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(174, 174, 174);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}