.container {
  margin-block: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  position: relative;
  width: 150px;
  height: 150px;
  transition: transform 0.4s ease-out;
}
.imgContainer img:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease;
  transform: scale(1.1);
  border: 2px solid white;
}
.imgContainer img {
  transition: transform 0.4s ease-out;
}
.container:hover {
  font-size: 20px;
  font-weight: bold;
  transition: all 0.1s ease;
}

.imgContainer:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transition: all 0.3s ease;
}

.text {
  display: none;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  color: #101010;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.imgContainer:hover .text {
  display: block;
  opacity: 1;
}

.foto {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
