.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
  display: flex;
}

 .messageImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.messageText{
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  max-width: 300px;
  background: linear-gradient(180deg, #0d5a73 0%, #09548e 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.messageBottom{
  font-size: 12px;
}

.message.own{
  align-items: end;
}

.message.own .messageText1{
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 15px;
  border-radius: 20px;
  max-width: 300px;
}