.container {
  position: relative;
  padding: 25px 100px;
  padding-top: 110px;
  /* background: linear-gradient(0deg, #38cafb17 0%, #09548e 100%); */
  background: linear-gradient(0deg, #ffffff 0%, #0d5a73 115%, #09548e 100%);
}
.NoAhora {
  display: none;
}
.portada-profile {
  position: relative;
}

.portada-profile img {
  width: 100%;
  height: 246px;
  background-color: #0d5a73;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 1px 2px 3px 0 #f5f4f4;
}

.rating-g {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
  font-size: 30px;
  text-align: center;
  background-color: #83ffad;
  color: #438258;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.prim-profile {
  display: flex;
  flex-direction: row;
}
.prim-profile > :last-child {
  margin-left: auto;
}

.foto-ocupacion {
  display: flex;
  width: 350px;
  height: 250px;
  margin: -1vh 0; /*Separa las ocupaciones de la imagen*/
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: 0.4s ease;
}
.foto-ocupacion:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
  cursor: pointer;
}
.foto-ocupacion img {
  object-fit: cover;
}

.foto-profile {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50px;
  top: -110px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ocupation-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-basis: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
  max-width: 329px;
}

.ocupation {
  padding: 8px 12px;
  border-radius: 30px;
  background: linear-gradient(180deg, #0d5a73 0%, #09548e 100%);
  margin-right: 10px;
  word-wrap: break-word;
  color: #fff;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.nombre-btns {
  margin-top: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.nombre {
  display: flex;
  gap: 2.5vw;
}

.profileFollow {
  display: flex;
  gap: 30px;
}
.profileNombre {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.profileNombre svg {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  margin-inline: 15px;
}
.nombre span {
  margin-right: auto;
}
.verificado {
  width: 35px;
  height: 35px;
}

.btns {
  display: flex;
  justify-content: flex-end;
}

.btn-profile {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  color: #000;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 15px 15px;
  border-radius: 15px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s ease;
}
.btn-profile:hover {
  transform: scale(1.1);
}

.btn-profile-act {
  background: linear-gradient(180deg, #0d5a73 0%, #09548e 100%);
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 15px 15px;
  border-radius: 15px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s ease;
  color: #fff;
}

.btn-profile-act:hover {
  transform: scale(1.1);
}

.btn-ajustes {
  cursor: pointer;
  background-color: #000;
  border: none;
  height: 35px;
  border-radius: 15px;
  margin-left: 20px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.btn-ajustes svg {
  color: rgb(217, 217, 217);
  font-size: 35px;
  text-decoration: none;
}
.ajustes-botones {
  cursor: pointer;
}

.ajustes {
  width: 37px;
  height: 37px;
}

.stas-profile {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.stas-profile * {
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
}
.btn-div {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-right: 30px;
}
.btn-div .followListContainer {
  color: white;
  background: linear-gradient(180deg, #0d5a73 0%, #025494 100%);
  border: 2px solid #0d5a73;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  z-index: 16;
}
.btn-stas-text {
  margin-right: 10px;
  display: flex;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  gap: 0;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.459));
  cursor: pointer;
}
.btn-stas-number {
  margin-right: 10px;
  transition: 0.4s ease;
}
.btn-stas:hover .btn-stas-number {
  transition: 0.4s ease;
  transform: scale(1.15);
  cursor: pointer;
  background: linear-gradient(180deg, #0e98a5 10%, #066fbf 70%, #025494 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.459));
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

.btn-stas:hover .btn-stas-text {
  transition: 0.4s ease;
  transform: scale(1.15);
  cursor: pointer;
  background: linear-gradient(180deg, #0e98a5 10%, #066fbf 70%, #025494 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.459));
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

.div-eventos {
  cursor: pointer;
}
.ab-re {
  display: flex;
}

.redes {
  margin-left: 20px;
  width: 200px;
}

.aboutme {
  max-width: 30vw;
  word-wrap: break-word;
  margin-right: 30px;
}

.container-links {
  display: flex;
  justify-content: left;
  align-items: center;
}
.container-links a,
.container-links svg {
  font-size: 40px;
  text-decoration: none;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.youtube {
  color: rgb(255, 255, 255);
  margin-right: 0px;
  transition: 0.4s;
}
.youtube:hover {
  transform: scale(1.25);
  transition: 0.4s;
}
.youtube svg {
  margin-right: 30px;
}
.twitter {
  color: #ffffff;
  margin-right: 0px;
  transition: 0.4s;
}
.twitter:hover {
  transform: scale(1.25);
  transition: 0.4s;
}
.redes-div h4 {
  margin: 0;
  margin-bottom: 15px;
}

.icon {
  width: auto;
  height: 25px;
  margin-right: 10px;
}

.titulo-ev {
  margin: 15px 100px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #000;
}

.settings-div {
  display: flex;
  position: relative;
}
.sub-prim-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingGif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-eventos-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 960px) {
  .ocupation {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(15px, -15px);
  }
  .prim-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prim-ocupacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .foto-ocupacion {
    height: 24px;
  }
  .nombre-btns {
    width: auto;
    margin-top: 80px;
  }
  .info-perfil {
    align-items: center;
  }
  .btns {
    transform: translate(0px, -33rem);
  }
  .aboutme {
    max-width: 50vw;
    word-wrap: break-word;
    width: unset;
    margin-right: unset;
  }
  .redes {
    width: unset;
    margin-left: unset;
  }
  .ab-re {
    flex-direction: column;
    align-items: center;
  }

  .foto-profile {
    height: 250px;
    position: absolute;
    top: -110px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .stas-profile {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
  }
  .nombre {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .nombre span {
    margin-right: unset;
  }
  .principalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ocupation-container {
    margin-top: 30px;
  }
  .stas-profile * {
    font-size: 18px;
    font-weight: bold;
    margin-right: unset;
    background: none;
    border: none;
  }
  .stas-profile {
    display: flex;
    align-items: center;
    margin: 12px 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .nombre-btns {
    display: flex;
  }
  .btn-div {
    position: relative;
    display: flex;
    gap: 35px;
  }
  .redes {
    margin-top: 10px;
  }
  .stas-profile:nth-child(3) {
    flex-basis: 100%;
  }
  .profileFollow {
    display: flex;
  }
  .profileNombre {
    font-size: 40px;
  }
  .container {
    padding: 15px 30px;
    padding-top: 150px;
  }
}
