.container {
  position: relative;
  margin: 10px 100px;
}
.NoAhora {
  display: none;
}
.portada-profile {
  position: relative;
}

.portada-profile img {
  width: 100%;
  height: 246px;
  background-color: #0d5a73;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 4px 8px 6px 0 #adabab;
}

.rating-g {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
  font-size: 30px;
  text-align: center;
  background-color: #83ffad;
  color: #438258;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.prim-profile {
  display: flex;
  flex-direction: row;
}
.prim-profile > :last-child {
  margin-left: auto;
}

.foto-ocupacion {
  display: flex;
  width: 350px;
  margin: -1vh 0; /*Separa las ocupaciones de la imagen*/
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.foto-ocupacion img {
  object-fit: cover;
}

.foto-profile {
  width: 250px;
  height: 250px;
  position: absolute;

  top: -110px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ocupation-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 30px;
}

.ocupation {
  padding: 5px 10px;
  margin-right: 10px;
  max-width: 198px;
  max-height: 70px;
  margin-top: 190px;
  background-color: #d9d9d9;
  border-radius: 10px;
  word-wrap: break-word;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.nombre-btns {
  margin-top: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.nombre {
  display: flex;
}

.verificado {
  width: 35px;
  height: 35px;
}

.btns {
  display: flex;
  justify-content: flex-end;
}

.btn-profile {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  margin-left: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn-ajustes {
  cursor: pointer;
  background-color: #000;
  border: none;
  height: 35px;
  border-radius: 15px;
  margin-left: 20px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.ajustes-botones {
  cursor: pointer;
}

.ajustes {
  width: 37px;
  height: 37px;
}

.stas-profile {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.stas-profile * {
  margin-right: 70px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
}

.ab-re {
  display: flex;
}

.redes {
  margin-left: 20px;
  width: 200px;
}

.aboutme {
  max-width: 30vw;
  word-wrap: break-word;
  margin-right: 30px;
}

.container-links {
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

.redes-div h4 {
  margin: 0;
  margin-bottom: 15px;
}

.icon {
  width: auto;
  height: 25px;
  margin-right: 10px;
}

.titulo-ev {
  margin: 15px 100px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #000;
}

.settings-div {
  display: flex;
  position: relative;
}
.sub-prim-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingGif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-eventos-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1315px) {
  .ocupation {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(15px, -15px);
  }
  .prim-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prim-ocupacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto-ocupacion {
    width: 240px;
  }
  .nombre-btns {
    width: auto;
    margin-top: 80px;
  }
  .info-perfil {
    align-items: center;
  }
  .btns {
    transform: translate(0px, -450px);
  }
  .aboutme {
    max-width: 50vw;
    word-wrap: break-word;
    width: unset;
    margin-right: unset;
  }
  .redes {
    width: unset;
    margin-left: unset;
  }
  .ab-re {
    flex-direction: column;
    align-items: center;
  }
}
