.detailBar {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #0d5a73;
}

.detailBar:hover {
  background-color: #1e9ec8;
}

.detailBarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.detailBarName {
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .detailBarName {
    display: none;
  }
}