.container {
  top: 1px;
  padding-top: 105px;
  color: #040b20;
  background-image: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
  padding-bottom: 20px;
  min-height: 101vh;
  animation: rotateColors 25s ease infinite;
}
.eventsFiltersFlex {
  flex-direction: column;
  gap: 5px;
}

.containerHelp {
  justify-self: center;
  margin-inline: 20px;
  background: linear-gradient(0deg, #ffffff 0%, #0d5a73 115%, #09548e 100%);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
  padding-block: 20px;
}
.card {
  min-height: 300px;
}
.container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 970px) {
  .container {
    height: 100%;
    width: 100vw;
  }
  .container div {
    margin-top: 30px;
  }
}
/*ARREGLADO, PERO NO USAR SIN ITEMS O CARDS*/
/*Limpiar fondo luego*/
/* Filtros */
/* styles.module.css */
.eventsFilters {
  gap: 20px;
  display: flex;
  color: white;
}
.eventsFilters select {
  padding: 10px;
  background-color: #0d5a73;
  border-radius: 5px;
  color: white;
  border: none;
  transition: 0.4s ease;
}

.eventsFilters button {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.2s ease;
}
.eventsFilters button,
.eventsFilters select,
.eventsFilters option {
  transition: 0.2s ease;
  cursor: pointer;
}

.eventsFilters button:hover,
.eventsFilters button:focus,
.eventsFilters select:hover,
.eventsFilters select:focus,
.eventsFilters option:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

@keyframes rotateColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
