.ConteinerArt {
  margin-top: 2%;
  margin-left: 5%;
  overflow: hidden;
}

.TopArt {
  background-color: #303030;
  margin: 1px;
  display: grid;
  padding-block: 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(10, auto);
}
.toArtists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  margin-top: unset;
  margin-left: 50px;
  border-radius: 100%;
  background-color: #18181814;
  transition: background-color 0.3s ease-in-out;
  min-width: 200px;
  max-width: 200px;
}

.toArtists button {
  cursor: pointer;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
}

.toArtists:hover {
  background-color: rgba(24, 24, 24, 0.164);
  animation: pulse-shadow 1s infinite;
}

.toArtists:active {
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 5px rgba(113, 113, 113, 0.136);
  }
  50% {
    box-shadow: 0 0 15px rgba(134, 134, 134, 0.318);
  }
  100% {
    box-shadow: 0 0 5px rgba(87, 86, 86, 0.396);
  }
}

.toArtists button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
