.main {
  height: 100%;
  background-color: #212226;
}
.title {
  color: #efefef;
}

.ConteinerArt {
  overflow: hidden;
}

.TopArt {
  background-color: rgba(155, 155, 155, 0.456);
  margin: 1px;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(10, auto);
}

.CarouselContainer {
  background-image: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.lower {
  background-image: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
}

.lower {
  background-image: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
}

.eldivdeeu{
  background-color: aquamarine;
  width: 1438px;
  height: 240px;
  margin: auto;
}