.main {
  height: 100%;
  overflow: hidden;
}

.title {
  color: white;
  margin-left: 50px;
  font-weight: 700;
  font-size: 50px;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  padding-top: 4%;
}
.events {
  height: unset;
}

.ConteinerArt {
  overflow: hidden;
}

.TopArt {
  margin: 1px;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(10, auto);
}

.CarouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreEvents {
  display: flex;
  justify-content: center;
  padding-block: 10px;
}

.eldivdeeu {
  background: url("../../img/productos.png");
  width: 1438px;
  /*Si no funciona eliminar lo de arriba de propiedades y usar este : width: 90vw;*/
  height: 240px;
  margin: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.eventsCardsContainer div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: none;
  min-height: unset;
}
/*CAMBIAR SI O SI A FUNCION QUÉ SOLO TRAE 9 CARDS, PORQUE ACA SOLO LAS OCULTAMOS.*/
.eventsCardsContainer div:nth-child(n + 10) {
  background-color: white;
  display: none;
}

.moreEvents button {
  background-color: white;
  color: black;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-block: 50px;
}
.moreEvents button:hover {
  background: linear-gradient(180deg, #0d5a73 0%, #09548e 100%);
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
}
.lowerContainer {
  background-color: rgba(255, 255, 255, 0.54);
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}
.lower {
  background: linear-gradient(
    326.37deg,
    #bceeff 29.63%,
    #095c8c 51.55%,
    #0d5a73 90.85%
  );
  background-size: 150% 150%;
  animation: rotateColors 10s linear infinite;
}

@keyframes rotateColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}