@import url('https://fonts.cdnfonts.com/css/gorlock');
@import url('https://fonts.cdnfonts.com/css/straphanger');

.container {
  height: 30rem;
  background: rgba(64, 153, 225, 0.231);
  display: flex;
  flex-direction: row-reverse;
  object-fit: cover;
}

.img {
  display: flex;
  justify-content: right;
  border-radius: 5px solid;
  width: 40%;
  object-fit: cover;
}

.img img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.description {
  padding-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-flow: column wrap;
  width: 80%;
  font-family: 'Straphanger', sans-serif;
}

.description img {
  margin: 30px;
}

.paragraph {
  font-size: 18px;
  text-align: justify;
  width: 85%;
}

.description h2 {
  font-family: 'Gorlock', sans-serif;
}

.links {
  width: 0%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.links a {
  padding: 20px;
}
