.followListContainer {
  position: absolute;
  top: 12%;
  right: 25%;
  width: 300px;
  height: 500px;
  background-color: rgb(114, 114, 114);
  border-radius: 20px;
}

.listFollowList {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.listFollowList::-webkit-scrollbar {
  display: none;
}

.contacfollowlist {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  transition: 0.4s ease;
}

.contacfollowlist:hover {
  background-color: rgba(254, 254, 254, 0.274);
  transition: 0.4s ease 0.1s;
  transform: scale(1.05);
}

.followListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  background: linear-gradient(180deg, #ffffff 0%, #0d5a73 70%, #032641 100%);
  transition: 0.4s ease;
}

.contacfollowlist:hover .followListImg {
  transform: scale(1.3);
  transition: 0.4s ease;
}

.followListName {
  font-weight: 500;
}

.closeButton {
  color: white;
  align-self: flex-end;
  width: 20%;
  transition: ease 0.4s;
}
.closeButton:hover {
  transform: scale(1.15);
  transition: ease 0.4s;
}
.listFollowList:first-child {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.listFollowList svg {
  cursor: pointer;
}
