@import url("https://fonts.cdnfonts.com/css/gorlock");
@import url("https://fonts.cdnfonts.com/css/straphanger");
.backContainer {
  background-image: url("https://e0.pxfuel.com/wallpapers/742/341/desktop-wallpaper-solid-black-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  display: flex;
  height: 100%;
  padding-block: 5%;
}
.container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  object-fit: cover;
  align-items: center;
  min-width: 80%;
  max-height: 1000px;
}

.img_Es {
  display: flex;
  justify-content: right;
  object-fit: cover;
}
.img_Es img {
  max-width: 350px;
  max-height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.Description {
  padding-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-flow: column wrap;
  width: 30%;
  flex-basis: 50%;
}

.Description img {
  margin: 30px;
}
.parrafo {
  font-size: 18px;
  text-align: justify;
  width: 85%;
}
.Description h2 {
  font-weight: 800;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a svg {
  font-size: 35px;
}
/*El Lugar en el mapa*/
.maps {
  width: 500px;
  height: 500px;
  overflow: visible;
}
