@import url("https://fonts.cdnfonts.com/css/gorlock");
@import url("https://fonts.cdnfonts.com/css/straphanger");
.backContainer {
  background: linear-gradient(
    300.37deg,
    #bceeff 29.63%,
    #095c8c 51.55%,
    #0d5a73 90.85%
  );
  padding-block: 110px;
  width: 99vw;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container {
  background-color: rgba(255, 255, 255, 0.54);
  border-radius: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  object-fit: cover;
  align-items: center;
  overflow: hidden;
  min-width: 40vw;
  padding-block: 50px;
  padding-inline: 6%;
  transition: all 0.4s ease;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_Es {
  display: flex;
  justify-content: right;
  object-fit: cover;
  padding-block: 5%;
}
.img_Es img {
  max-width: 325px;
  max-height: 250px;
  border-radius: 6%;
  object-fit: cover;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.799));
  transition: 1s ease 0.8s;
  cursor: all-scroll;
}

.Description {
  padding-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  max-width: 400px;
  word-break: break-word;
}

.Description img {
  margin: 30px;
}
.img_Es img:hover {
  max-width: 500px;
  max-height: 650px;
  transform: scale(1.1);
  transition: 1s ease 0.4s;
}

.parrafo {
  font-size: 18px;
  text-align: justify;
  width: 85%;
}
.Description h2 {
  font-weight: 800;
  margin-bottom: 0;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a svg {
  font-size: 35px;
}
/*El Lugar en el mapa*/
.maps {
  height: 100%;
  width: 50vw;
  overflow: hidden;
}

div .Description input[type="text"],
div .Description button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div .Description button {
  background-color: #ffffff;
  color: #000000;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

div .Description button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.05);
  transition: 0.4s ease;
}
div .Description button.buyButton {
  transition: 0.4s ease;
}
div .Description button.buyButton:hover {
  background: linear-gradient(180deg, #0e98a5 10%, #066fbf 70%, #025494 100%);
  transition: 0.8s ease;
}
div .Description button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
div .Description a {
  text-decoration: none;
}

div .Description svg {
  margin-left: 5px;
}

div .Description p {
  padding-top: 20px;
  font-weight: 700;
  transition: 1s ease;
}
div .Description p:hover {
  transform: scale(1.2);
  transition: 1s ease;
}
div .Description h2:hover {
  color: #00a16e;
  transition: 0.2s ease;
}
div .Description h1 {
  font-size: 40px;
  transition: 0.4s ease;
  text-indent: -30px;
  background: linear-gradient(180deg, #0e98a5 10%, #066fbf 70%, #025494 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.459));
}
div .Description h1:hover {
  transform: scale(1.4);
  transition: 0.8s ease;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 4px #aaaaaa);
}
div .Description h1 svg {
  color: rgb(120, 202, 249);
  font-size: 30px;
  transition: 0.8s ease;
  opacity: 0;
}
div .Description h1:hover svg {
  color: #066fbf;
  transition: 0.8s ease;
  opacity: 1;
  transform: scale(1.5);
}
div .Description h5:hover {
  transform: scale(1.4);
  transition: 0.5s ease;
  color: white;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 0.251));
}
div .Description h5 svg {
  color: rgb(7, 135, 209);
  font-size: 30px;
  transition: 0.5s ease;
  opacity: 0;
}
div .Description h5:hover svg {
  color: #238e87;
  transition: 0.5s ease;
  opacity: 1;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0));
  transform: scale(1.2);
}

div .Description h3 {
  color: white;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  gap: 2px;
  transition: 0.4s ease;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0));
} 
div .Description h4 {
  color: white;
  font-size: 22px;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  gap: 2px;
  transition: 0.4s ease;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0));
}
div .Description h5 {
  text-indent: -45px;
  color: white;
  font-size: 22px;
  margin-block: 10px;
  justify-content: center;
  gap: 2px;
  transition: 0.4s ease;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0));
}

div .Description h5 svg {
  font-size: 25px;
}
.money input {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  outline: none;
  padding: 10px;
  font-size: 20px;
}
.money {
  transition: 0.4s ease;
}
.money svg {
  transition: 0.4s ease;
  opacity: 0;
}
.money:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
  font-weight: 600;
  font-size: 40px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.145));
}
.money:hover svg {
  font-size: 40px;
  opacity: 1;
  transition: 0.4s ease;
  color: rgb(12, 129, 115);
}
.lastMoney {
  padding-block: 20px;
  transition: 0.4s ease;
}
.links .quantity {
  color: rgb(3, 3, 3);
  font-weight: 600;
  font-size: 30px;
  transition: 0.4s ease 0.4s;
}
.lastMoney h2 {
  transition: 0.4s ease;
}
.links:hover .lastMoney h2 {
  color: rgb(12, 129, 115);
  font-size: 30px;
  transition: 0.4s ease;
}
.links:hover .quantity {
  color: rgb(215, 60, 60);
  font-size: 40px;
  transition: 0.4s ease 0.8s;
}
.styledInput {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  padding: 5px;
  margin-top: 5px;
}

.styledInput::-webkit-inner-spin-button,
.styledInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Oscar con CSS*/
.Description label {
  color: white;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  gap: 2px;
  transition: 0.4s ease;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0));
}
.Description label:hover {
  color: black;
  transition: 0.4s ease;
  font-weight: 600;
  filter: drop-shadow(0 1px 1px rgb(255, 255, 255));
}
.Description input {
  transition: 0.4s ease;
}
.Description input:hover {
  transition: 0.4s ease;
}
.infoText {
  display: flex;
  flex-direction: column;
}
.step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: none;
}
/*MUCHO CUIDADO, ESTO ES FLEX, NO BLOCK*/
.section.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectionButtons {
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin-block: 10px;
  display: flex;
  gap: 40px;
  transition: 0.4s ease;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0));
}
.selectionButtons svg {
  font-size: 30px;
  transition: 0.4s ease;
}
.selectionButtons svg:hover {
  transition: 0.4s ease;
}
@keyframes changeColor {
  0% {
    color: rgb(180, 118, 118);
  }
  100% {
    color: rgb(119, 119, 194);
  }
}

.styledInput:valid {
  animation: changeColor 1s linear;
}

.comments {
  margin-top: 100px;
  right: 0;
}
.section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section form div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.commentContainer div {
  max-height: 500px;
  min-width: 400px;
  overflow: auto;
}
.section form div:nth-child(-n + 5):not(:last-child) {
  flex-direction: row;
  font-size: 30px;
}
.section input:nth-child(2) {
  min-height: 150px;
  min-width: 350px;
}
.section form div:first-child {
  gap: 20px;
}
.section form div label {
  transition: 0.4s ease 0.1s;
  cursor: pointer;
}

.section form div label:nth-child(1) {
  content: "1";
}

.section form div label:nth-child(2) {
  content: "2";
}

.section form div label:nth-child(3) {
  content: "3";
}

.section form div label:nth-child(4) {
  content: "4";
}

.section form div label:nth-child(5) {
  content: "5";
}
.section form div label input[type="radio"] {
  display: none;
}
