.containerUpdatePassword {
  position: absolute;
  background-color: #333333;
  padding: 10px;
  border-radius: 15px;
  z-index: 10;
  transform: translate(-195px, -150px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.611);
}
.formUpdatePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.formUpdatePassword input {
  border-radius: 15px;
  outline: none;
  border: none;
}

@media (max-width: 960px) {
  .containerUpdatePassword {
    transform: translate(-165px, -150px);
  }
}
