:root {
  --base-font-size: 50px;
}

.carouselContainer {
  background-color: black;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.carousel-img {
  max-height: 100vh;
  object-fit: cover;
}
.carousel-img.loaded_ {
  opacity: 1;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.button:first-of-type {
  /* Aplicar estilos solo al primer botón */
  justify-self: flex-start; /* Alinear el botón a la izquierda */
}

.button:last-of-type {
  /* Aplicar estilos solo al último botón */
  justify-self: flex-end; /* Alinear el botón a la derecha */
}

.button {
  position: fixed;
  color: rgb(250, 250, 250);
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0);
  border: transparent;
  font-size: var(--base-font-size);
  font-weight: 800;
}

.carouselContainer {
  background-color: black;
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  min-width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
}
.carousel-img.loaded_ {
  opacity: 1;
}

.button:first-of-type:hover {
  font-size: 30px;
  transition: 0.4s ease;
}
.button:last-of-type:hover {
  font-size: 70px;
  transition: 0.4s ease;
}
.button:first-of-type {
  justify-self: flex-start;
  font-size: 20px;
}

.button:last-of-type {
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-size: 50px;
  cursor: pointer;
  transform: translate(94.9vw);
}

.button {
  color: rgb(255, 255, 255);
  transform: scale(2.5);
  cursor: pointer;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 2;
}

.subtitle {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
  text-align: center;
  z-index: 2;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle img {
  color: #ffffff; /* Color del texto */
  padding: 10px; /* Agrega un poco de espacio alrededor del texto */
  text-shadow: 5px 15px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, #0d5a7313 0%, #09548e5d 100%);
  border-radius: 50px;
}
@media (max-width: 970) {
  .subtitle {
    margin-top: 80px;
  }
}
