:root {
  --base-font-size: 50px;
}

.carousel-container {
  background-color: black;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  max-width: 100vw;
  height: auto;
  opacity: 0;
  transition: 1s;
  margin: 0 auto;
  width: 100%;
}

.carousel-img.loaded_ {
  opacity: 1;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.button:first-of-type {
  /* Aplicar estilos solo al primer botón */
  justify-self: flex-start; /* Alinear el botón a la izquierda */
}

.button:last-of-type {
  /* Aplicar estilos solo al último botón */
  justify-self: flex-end; /* Alinear el botón a la derecha */
}

.button {
  position: fixed;
  color: rgb(250, 250, 250);
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0);
  border: transparent;
  font-size: var(--base-font-size);
}
.carousel-container {
  background-color: black;
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  opacity: 0;
  transition: 1s;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.carousel-img.loaded_ {
  opacity: 1;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.button:first-of-type {
  justify-self: flex-start;
  font-size: calc(var(--base-font-size) - (var(--base-font-size) / 1.5 * 1));
}

.button:last-of-type {
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-size: calc(var(--base-font-size) - (var(--base-font-size) / 5 * 1));
  cursor: pointer;
  transform: translate(95.5vw);
  -webkit-transform: translate(95.5vw);
  -moz-transform: translate(95.5vw);
  -ms-transform: translate(95.5vw);
  -o-transform: translate(95.5vw);
}

.button {
  color: rgb(255, 255, 255);
  transform: scale(2.5);
  cursor: pointer;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 2;
}

.subtitle {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
  text-align: center;
  z-index: 2;
}
