.Container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../imagenes/card.jpg");
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid #909090;
    box-shadow: 6px 6px 6px 0px #a19d9d89;
    width: 330px;
    height: 450px;
    justify-items: center;
    color: rgb(202, 201, 201);
    font-size: 25px;

}

.image {
    width: 100%;
    object-fit: cover;
    height: 200px;
    background-size: cover;
    box-shadow: 2px 2px 15px #000000 inset;
    border-radius: 20px;
}



.Container:hover {
    color: #6c6c6c;
    box-shadow: 2px 2px 15px #979797 inset;
}

.text {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

}

.text h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.text h5 {
    color: rgba(26, 65, 220, 0.669);
    margin-bottom: 7px;
    font-size: 22px;
}