.Container {
  background-size: cover;
  cursor: pointer;
  border-radius: 20px;
  margin: 20px;
  border: 2px solid #909090;
  box-shadow: 6px 6px 6px 0px #a19d9d89;
  width: 330px;
  height: 450px;
  justify-items: center;
  color: rgb(202, 201, 201);
  font-size: 25px;
  position: relative; /* añadido para que .overlay y .text sean relativos a .Container */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* añadido un fondo semitransparente */
  border-radius: 20px;
  z-index: 1; /* asegura que el texto aparezca por encima de la imagen */
}

.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-size: cover;
  box-shadow: 2px 2px 15px #000000 inset;
  border-radius: 20px;
}

.Container:hover {
  color: #6c6c6c;
  box-shadow: 2px 2px 15px #979797 inset;
}

.text {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: absolute; /* para que se coloque encima de la imagen */
  min-width: 100%;
  min-height: 220px;
  max-height: 200px;
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    15%
  ); /* centra el texto vertical y horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  z-index: 2; /* asegura que el texto aparezca por encima de .overlay */
}

.text h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.text h5 {
  color: rgba(26, 65, 220, 0.669);
  margin-bottom: 7px;
  font-size: 22px;
}

.Link {
  text-decoration: none;
}
