.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: space-between;
}

.conversation:hover {
  background: linear-gradient(180deg, #0d5a7337 0%, #09548e39 100%);
  border-radius: 15px;
}

.conversationleft {
  display: flex;
  align-items: center;
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
  transition: 0.5s ease;
  color: white;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 0.251));
}

.conversationBtn {
  display: flex;
  background: none;
  border: none;
  justify-self: end;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  justify-self: end;
  transition: 2s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.conversation:hover .conversationBtn {
  opacity: 100%;
  transition: 0.2s ease;
  color: #023258;
  transform: scale(1.3);
}

.conversationBtn svg {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 768px) {
  .conversationName {
    display: none;
  }
}
