.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversation:hover {
  background-color: rgb(245, 243, 243);
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
}

.conversationBtn{
  display: flex;
  background: none;
  border: none;
  justify-self: end;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  justify-self: end;
  transition: 2s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.conversation:hover .conversationBtn{
  background-color: #d17272;
  opacity: 100%;
  
}

.conversationBtn svg{
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 768px) {
  .conversationName {
    display: none;
  }
}