.chatOnlineFriend{
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer{
  position: relative;
  margin-top: 10px;
}

.chatOnlineImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chatOnlineBadge{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(17, 255, 0);
  position: absolute;
  top: 2px;
  right: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}