.formPicture img {
  max-width: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.formPicture img,
.MuiSvgIcon-root {
  border-radius: 50%;
  margin-inline: auto;
}

.uploadPictureButton {
  cursor: pointer;
  background-color: black;
  box-shadow: 0px 2px 2px 2px black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.uploadSubmitButton {
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  color: black;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.formularioExternoLogin {
  background-image: url(https://res.cloudinary.com/dipn8zmq3/image/upload/v1682455230/UrbanClub/image_lsaixn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.formContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10%;
  padding-inline: 50px;
  max-width: 120%;
  max-height: 800px;
  margin: auto;
}

.formLoginTitle {
  max-width: 150px;
  font-size: 30px;
}

.formLoginSubtitle {
  font-size: 35px;
}

.formContainer > * {
  padding: 5px;
  padding-inline: 40px;
}

.formContainerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  margin: auto;
}

.formContainerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.formContainerRight {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 3;
}

.formContainer label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .formContainer {
    flex-direction: column;
    max-height: 295px;
    padding: 10% 0;
    align-items: center;
  }

  .formContainer > * {
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
  }

  .formContainerLeft,
  .formContainerRight {
    margin-inline: 40px;
    order: 1;
  }

  .formCoginTitle {
    max-width: none;
    text-align: center;
  }

  .formPicture img,
  .MuiSvgIcon-root {
    max-width: 70px;
    margin: 0 auto 10px;
  }

  .formContainerMiddle {
    order: 1;
  }

  .formContainerRight {
    order: 3;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .formContainer {
    padding: 5%;
  }

  .formLoginTitle {
    font-size: 25px;
  }

  .formLoginSubtitle {
    font-size: 30px;
  }

  .formPicture img,
  .MuiSvgIcon-root {
    max-width: 50px;
    margin: 0 auto 5px;
  }

  .uploadPictureButton {
    padding: 5px;
    border-radius: 3px;
  }

  .uploadSubmitButton {
    padding: 5px;
    border-radius: 3px;
  }
}
