.navbar {
  background-color: #0d5a73;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 80px;
  border-bottom: 1.5px solid #004258;
  position: fixed;
  top: 0;
  transform: scale(1.04);
  width: 100%;
  z-index: 9999;
}

body {
  padding-top: 80px;
  /* Ajusta el valor según sea necesario */
}

.navTitleImg {
  width: 180px;
  transition: 0.8s;
}

.navTitleImg:hover {
  transform: scale(1.1);
}

.searchbarWrapper {
  position: relative;
}

.navLinks {
  display: flex;
  list-style: none;
  width: auto;
}

.nav-links li {
  margin-left: 30px;
  transition: 0.8s;
}

.nav-links li:hover {
  transform: scale(1.2);
}

.navLoginBtn {
  box-shadow: 5px black;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  color: black;
  font-weight: 550;
  transition: 0.8s;
}

.navLoginBtn:hover {
  background-color: #79cfd5;
  transform: scale(1.1);
}

.navLinks li a {
  color: white;
  text-decoration: none;
  padding: 12px;
  outline: none;
}

.sesionfoto {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 50%;
}

.navTitleImgZoom {
  display: none;
}

.navLoginBtnZoom {
  display: none;
}

.sesionfotozoom {
  display: none;
}

.sesionfoto,
.sesionfotozoom {
  object-fit: cover;
    filter: blur(0.3px); /*Más que nada por lo tosco de la foto*/
}

/*Responsive Botoncitos de Movil*/
.hamburgerBtn {
  display: none;
}

.respNavLinks {
  display: none;
}

@media screen and (max-width: 968px) {
  .navbar img.navTitleImg {
    display: none;
  }

  .navbar img.navTitleImgZoom {
    display: block;
    animation: spin 12s linear infinite;
  }

  .navLoginBtnZoom {
    display: block;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    color: black;
    font-weight: 550;
    transition: 0.8s;
  }

  .navbar {
    padding: 20px;
  }

  .navLinks {
    display: none;
  }

  .navLoginBtn {
    display: none;
  }

  .sesionfoto {
    display: none;
  }

  .sesionfotozoom {
    position: fixed;
    object-fit: cover;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    right: 8%;
    bottom: 20px;
  }

  .hamburgerBtn {
    display: block;
    color: white;
    border-radius: 8px;
    background-color: #003c50;
    text-decoration: none;
    border: none;
    padding: 10px;
    padding-inline: 20px;
  }

  .respNavLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #004258;
    width: 100%;
    height: 200px;
    align-items: center;
    position: fixed;
    right: -2%;
    top: -250px;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
  }

  .respNavLinks li a {
    text-decoration: none;
  }

  .profilePicture .sesionfoto {
    display: none;
  }
  .burgerSelect {
    position: fixed;
  }
  .hamburgerBtn {
    position: fixed;
    right: 7%;
    bottom: 38%;
    z-index: 99;
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75); /* Agregar sombra */
    transition: transform 0.3s ease-out;
    animation: pulse 3s infinite; /* Agregar efecto de pulso */
  }
  .respNavLinks li a {
    text-decoration: none;
    color: white;
  }

  .respNavLinks {
    /* Estilos iniciales */
    transform: translateY(-155px);
    transition: transform 0.6s ease-out;
  }

  .respNavLinks.slideIn {
    /* Estilos para mostrar los enlaces */
    transform: translateY(250px);
  }

  .respNavLinks.slideOut {
    /* Estilos para ocultar los enlaces */
    transform: translateY(-155px);
  }
  .hamburgerBtn:hover {
    /* Estilos cuando el mouse está encima o se enfoca */
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Agregar sombra */
  }
  .hamburgerBtn:hover:not(:focus),
  .hamburgerBtn:focus:not(:hover) {
    /* Estilos cuando el mouse deja de estar en hover o deja de estar en focus */
    transform: scale(1.1);
  }

  .searchbarWrapper {
    right: 30px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
