/* Color negro de la Navbar es #1a1919*/
.navbar {
  background-color: #0d5a73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  border-bottom: 1.5px solid#004258;
  overflow: hidden;
}

.nav-title-img{
  width: 180px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.nav-title-img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


.searchbar-wrapper{
  position: relative;
}

.nav-links{
  display: flex;
  list-style: none;
  width: auto;
}

.nav-links li{
  margin-left: 30px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.nav-links li:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.nav-login-btn {
  box-shadow: 5px black;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  color: black;
  font-weight: 550;
  transition: 0.8s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.nav-login-btn:hover{
  background-color: #79cfd5;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.nav-links li a{
  color: white;
  text-decoration: none;
  padding: 12px;
  outline: none;
}

.sesionfoto {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
