nav.navbar {
  background-color: #1a1919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: space-around;
}

nav.navbar ul li {
  margin-right: 10px;
}

nav.navbar ul li:not(:last-child) {
  margin-right: 10px;
}

nav.navbar ul li a {
  color: white;
  text-decoration: none;
}
nav.navbar ul li a:hover {
  font-size: 110%;
  background-image: linear-gradient(
    to right,
    violet,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text; /* necesario para compatibilidad con algunos navegadores */
  color: transparent;
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
