.formPicture {
  object-fit: cover;
  max-height: 90px;
  max-width: 100px;
  height: 90px;
  width: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.formPicture img,
.MuiSvgIcon-root {
  border-radius: 50%;
  margin-inline: auto;
}

.uploadPictureButton {
  cursor: pointer;
  background-color: black;
  box-shadow: 0px 2px 2px 2px black;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.uploadPictureButton:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 2px 2px 2px black;
  color: black;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
  transform: scale(1.15);
}
.uploadFormButton {
  cursor: pointer;
  margin-top: 20px;
  background-color: black;
  box-shadow: 0px 2px 2px 2px black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.45s ease;
}
.uploadFormButton:hover {
  transform: scale(1.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, #0d5a73 25%, #025494 100%);
  color: #fafafa;
  transition: all 0.45s ease;
}

.formularioExternoRegistro {
  background-image: url(https://res.cloudinary.com/dipn8zmq3/image/upload/v1682454858/UrbanClub/DSC_5894_rev5jt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 50px;
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.859);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* Agregado para alinear en la parte superior */
  padding-block: 4%;
  padding-inline: 50px;
  max-width: 120%;
  max-height: 800px;
  margin: auto;
  transition: 1s ease 3s;
}
.formContainer:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
  background-color: rgba(255, 255, 255, 0.964);
}
.formContainer > * {
  padding: 5px;
  padding-inline: 40px;
}

.formContainerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  margin: auto;
}

.formContainerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.formContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 3;
}

.formContainer label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.formContainerMiddle input {
  padding: 10px;
  margin-block: 1px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.45s ease;
}
.formContainerMiddle input:hover {
  transform: scale(1.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #222222;
  color: #e6e6e6;
  transition: all 0.45s ease;
}
.occupationsOptions {
  max-width: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  transition: 0.4s ease 0.1s;
}

.occupationsOptions label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 30%;
}

.occupationsOptions input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #b2b2b2;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}
.occupationsOptions label:hover input[type="checkbox"] {
  background-color: #007bff5e;
}

.occupationsOptions input[type="checkbox"]:checked {
  background-color: #007aff;
  border-color: #007aff;
}

.occupationsOptions input[type="checkbox"]:checked::before {
  font-size: 10px;
  content: "\00a0\2714"; /* el 00a0 es un blanco espacio y el 2714 es el signo de check*/
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.errorBack {
  font-size: 25px;
  color: red;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.errorsFrond {
  font-size: 13px;
  color: red;
}
.formSubmitButton {
  background-color: #007aff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.formSubmitButton:hover {
  background-color: #006fe6;
}

.formSubmitButton:active {
  background-color: #0062cc;
  transform: translateY(1px);
}
.descripcionArea {
  max-width: 140px;
  max-height: 100px;
  min-width: 140px;
  min-height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.loadingGif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  transform: scale(0.8);
}
.loadingGif img.loading {
  /* background-color: #0062cc; */
  display: block;
  animation: spin 2s linear infinite;
}
.sugerencia {
  margin-top: 10px;
  transition: 0.4s ease;
}
.sugerencia:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Faltan los media queries oscar :)))) Dale metele pataaaa...*/
@media (max-width: 768px) {
  .formContainer {
    flex-direction: column;
    padding: 5%;
  }

  .formContainer > * {
    padding: 5px;
    padding-inline: 10px;
  }

  .formPicture {
    max-width: 50%;
  }
}
