@import url("https://fonts.cdnfonts.com/css/janda-apple-cobbler");
.containerError {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(201, 201, 201, 0.502);
}
.border h1 {
  font-size: 6vw;
  font-family: "Janda Apple Cobbler", sans-serif;
}
.h_s {
  font-size: 4vw;
  margin-top: 2rem;
}
.imgError {
  margin-bottom: 2rem;
  width: 75vw;
  max-width: 1000px;
  min-width: 220px;
}
.imgError img {
  width: 100%;
}
.txtError {
  font-size: 3vw;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.txt p {
  font-family: "Janda Apple Cobbler", sans-serif;
}
.btn-home button {
  margin: 60px;
  border: 3px solid;
  border-radius: 100%;
  background-color: #0d5a7381;
  box-shadow: 0 5px 10px 0 #0d5a73d8, 0 7px 5px 0 #0d5a73d8;
  height: 100px;
  font-family: "Take Looks", sans-serif;
  width: 100px;
  text-align: center;
  font-size: 35px;
}

.btn-home button:hover {
  margin: 60px;
  background-color: #50707ba9;
  box-shadow: 0 5px 10px 0 rgb(250, 250, 250), 0 7px 5px 0 rgb(255, 255, 255);
  height: 100px;
  font-family: "Take Looks", sans-serif;
  width: 100px;
  font-family: "Take Looks", sans-serif;
  text-align: center;
  font-size: 35px;
}

.border {
  color: black;
  text-shadow: -1px -1px 0 white, -1px -1px 0 white, -1px -1px 0 white,
    -1px -1px 0 white;
}

.error {
  color: #73140d;
  animation: shift 3s ease-in-out infinite;
}
@keyframes shift {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
